.add-note-button {
  @include size(rem(50));
  @include transition(opacity 300ms ease);
  cursor: pointer;
  opacity: 0.3;
  position: absolute;
  background: white;
  border-radius: rem(8);
  right: rem(20);
  bottom: rem(20);

  &:hover {
    opacity: 1;
  }
}

.plus-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .bar {
    @include transform-origin(center center);
    cursor: pointer;
    height: rem(24);
    width: rem(5);
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &.h {
      @include transform(rotate(90deg));
    }
  }

  &.x-rotate {
    .bar.h {
      @include transform(rotate(45deg));
    }
    .bar.v {
      @include transform(rotate(135deg));
    }
  }
}
