$noteSize: rem(270);
$noteTitleHeight: rem(36);
$noteTransitionDuration: 600ms;
$notePerspective: rem(800);
$notePadding: rem(15);

@mixin NoteTransform() {
  @include transition(all $noteTransitionDuration, opacity 300ms);
  @include transform-style(preserve-3d);
  @include transform-origin(center center);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.note {
  @include NoteTransform
  @include size($noteSize);
  max-width: 95%;
  opacity: 0.85;
  -webkit-perspective: $notePerspective;
  perspective: $notePerspective;

  .title {
    cursor: pointer;
    height: $noteTitleHeight;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 rem(35) 0 $notePadding;

    h1 {
      cursor: pointer;
      font-size: rem(18);
      line-height: $noteTitleHeight;
      text-transform: uppercase;
    }
  }

  .front, .back {
    @include NoteTransform
    @include backface-visibility(hidden);
    border-radius: rem(10);
    overflow: hidden;
    padding: $notePadding;
    padding-top: $noteTitleHeight + $notePadding;
  }

  .front {
    @include transform(rotateY(0deg));
    background: $yellow;
    z-index: 1;

    .title {
      background: $orange;
    }

    .text {
      height: rem(180);
      overflow: scroll;

      p {
        font-size: rem(15);
        line-height: rem(22);
        max-width: $noteSize - (2 * $notePadding);
      }
    }
  }

  .back {
    @include transform(rotateY(180deg));
    background: $blue;
  }

  &:hover:not(.edit) {
    opacity: 1;
  }

  &.edit {
    // @include transform(translate3d(0, 0, 0) !important);
    @include size(80vh);
    opacity: 1;

    .front {
      @include transform(rotateY(-180deg));
    }

    .back {
      @include transform(rotateY(0deg));
    }
  }
}
