$noteSize: rem(270);
$noteTitleHeight: rem(36);
$noteTransitionDuration: 600ms;
$notePerspective: rem(800);
$notePadding: rem(15);

@mixin NoteTransform() {
  @include transition(all $noteTransitionDuration, opacity 300ms);
  @include transform-style(preserve-3d);
  @include transform-origin(center center);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.note {
  @include NoteTransform
  @include size($noteSize);
  max-width: 95%;
  opacity: 0.85;
  -webkit-perspective: $notePerspective;
  perspective: $notePerspective;

  .title {
    height: $noteTitleHeight;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 rem(35) 0 $notePadding;

    h1 {
      font-size: rem(18);
      line-height: $noteTitleHeight;
      text-transform: uppercase;
    }
  }

  .front, .back {
    @include NoteTransform
    @include backface-visibility(hidden);
    border-radius: rem(10);
    overflow: hidden;
    padding: $notePadding;
    padding-top: $noteTitleHeight + $notePadding;
  }

  .front {
    @include transform(rotateY(0deg));
    background: $yellow;
    z-index: 1;

    .title {
      background: $orange;
    }

    .text {
      height: rem(180);
      overflow: scroll;

      p {
        font-size: rem(15);
        line-height: rem(22);
        max-width: $noteSize - (2 * $notePadding);
      }
    }
  }

  .back {
    @include transform(rotateY(180deg));
    background: $blue;
    overflow: scroll;

    .close-icon {
      right: rem(5);
      top: rem(5);
    }
  }

  form {
    position: absolute;
    height: 100%;
    width: 90%;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    padding-top: rem(50);

    input, textarea {
      resize: none;
      border-radius: rem(10);
      width: 100%;
      font-size: rem(30);
      line-height: rem(30);

      @include placeholder {
        color: $gray;
        font-style: italic;
      }
    }

    input {
      height: rem(60);
      margin-bottom: rem(30);
      padding: 0 rem(15);
    }

    textarea {
      height: calc(100% - 11.875rem);
      padding: rem(15);
      line-height: rem(38);
    }

    [class*="button"] {
      border-radius: rem(6);
      position: absolute;
      height: rem(50);
      color: white;
      text-transform: uppercase;
      font-size: rem(16);
      display: flex;
      align-items: center;
      padding: 0 rem(20);
      bottom: rem(20);
      cursor: pointer;
      @include transition(all 300ms);
      &:hover {
        background: black;
      }
    }

    .cancel-button {
      background: $red;
      left: 0;
    }

    .save-button {
      background: $green;
      right: 0;
    }
  }

  &:hover:not(.edit) {
    opacity: 1;
  }

  &.edit {
    // @include transform(translate3d(0, 0, 0) !important);
    @include size(80vh);
    opacity: 1;

    .front {
      @include transform(rotateY(-180deg));
    }

    .back {
      @include transform(rotateY(0deg));
    }
  }

  &.dragging {
    @include transition(none);
  }
}
