.plus-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .bar {
    cursor: pointer;
    height: rem(24);
    width: rem(5);
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &.h {
      @include transform(rotate(90deg));
    }
  }

  &.x-rotate {
    @include transform(rotate(45deg));
  }
}
