@import '../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/grid';

* {
  @include appearance(none);
  @include backface-visibility(visible);
  font-family: 'Avenir Book', sans-serif;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  border: none;
  list-style-type: none;
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
}

html, body {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

#app, #app > div {
  height: 100%;
  width: 100%;
  position: relative;
  @include breakpoint(tab) {
    position: fixed;
  }
}

#app > div {
  // display: flex;
  // flex-wrap: wrap;
  overflow: hidden;
}

@import 'styles/nav';
@import 'styles/desktop';
@import 'styles/add-note-button';
@import 'styles/plus-icon';
@import 'styles/note';
