@import '../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'styles/fonts';
@import 'styles/grid';

* {
  @include appearance(none);
  @include backface-visibility(visible);
  box-sizing: border-box;
  border: none;
  list-style-type: none;
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: white;
}

html, body {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

#app, #app > div {
  height: 100%;
  width: 100%;
  position: relative;
  @include breakpoint(tab) {
    position: fixed;
  }
}

#app > div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

