@import '../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'styles/fonts';
@import 'styles/grid';

* {
  @include appearance(none);
  @include backface-visibility(visible);
  box-sizing: border-box;
  border: none;
  list-style-type: none;
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: white;
}

html, body {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

#app, #app > div {
  height: 100%;
  width: 100%;
  position: relative;
  @include breakpoint(tab) {
    position: fixed;
  }
}

#app > div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

$sidebarWidth: rem(300);
$footerHeight: rem(80);
$titleHeight: rem(30);
$borderWidth: rem(6);
$zakImgHeight: rem(165);
$zakImgWidth: rem(86);
$tweetHeight: rem(30);

.portfolio {
  background: black;
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding-left: 0;
  padding-bottom: $footerHeight;
  overflow: hidden;
  .row {
    overflow: scroll;
  }
  @include breakpoint(tab) {
    position: absolute;
    padding-left: $sidebarWidth;
    // padding-bottom: $footerHeight;
  }
}

.tile {
  cursor: pointer;
  float: left;
  height: 50vh !important;
  position: relative;
  overflow: hidden;
  .bg {
    @include transition(all 300ms);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: absolute;
    left: 0;
    opacity: 0.6;
    @include transform(scale(1));
    @include size(100%);
  }
  .title {
    @include transition(all 300ms);
    height: $titleHeight;
    position: absolute;
    top: 0;
    padding: 0;
    padding-left: rem(15);
    padding-right: rem(60);
    h1 {
      font-weight: normal;
      font-size: rem(14);
      line-height: $titleHeight;
      font-style: italic;
      position: relative;
      z-index: 1;
      color: #aaa;
      @include transition(all 300ms);
    }
    .title-bg {
      @include transform(skewX(-45deg));
      @include size(100%);
      position: absolute;
      background: black;
      z-index: 0;
      top: 0;
      left: rem(-30);
      &::after {
        @include transition(all 300ms);
        content: ' ';
        background: #aaa;
        position: absolute;
        height: 100%;
        width: 0;
        top: 0;
        right: 0;
        border-right: 0 solid white;
      }
    }
  }
  &:hover {
    .bg {
      opacity: 0.9;
      @include transform(scale(1.1));
    }
    .title {
      padding-right: rem(65);
      .title-bg {
        &::after {
          width: $borderWidth;
        }
      }
      h1 {
        color: white;
      }
    }
  }
  @include breakpoint(tab) {
    height: 50% !important;
  }
}

.sidebar {
  background: #222;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: auto;
  .inner {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: rem(15);
  }
  h1 {
    font-size: rem(22);
    line-height: rem(24);
  }
  p {
    color: #ccc;
    margin-top: rem(15);
    font-size: rem(16);
    line-height: rem(22);
    &:last-child {
      margin: 0
    }
  }
  @include breakpoint(tab) {
    width: $sidebarWidth;
    padding-bottom: $footerHeight;
    .inner {
      padding-bottom: $footerHeight + rem(15);
    }
  }
}

.form {
  height: auto;
  padding: rem(10) 0;
  input[type="submit"],
  input[type="text"],
  textarea {
    @include transition(all 300ms);
    background: #333;
    border-radius: 0;
    height: rem(40);
    width: 100%;
    padding: rem(10);
    font-size: rem(16);
    line-height: rem(18);
    &:focus:not([disabled]) {
      background: white;
      color: black;
    }
    @include placeholder {
      color: #aaa;
      font-style: italic;
      font-size: rem(12);
      line-height: rem(16);
    }
    &[disabled] {
      cursor: default;
      opacity: 0.5;
    }
  }
  input[type="submit"] {
    color: #ccc;
    cursor: pointer;
    width: auto;
    margin: auto;
    padding: 0 rem(20);
    font-size: rem(14);
    line-height: rem(42);
    font-style: normal;
    display: flex;
    &:hover:not([disabled]) {
      background: white;
      color: black;
    }
  }
  textarea {
    height: rem(80);
    resize: none;
  }
  .field {
    margin: rem(10) 0;
    &:last-child {
      margin: 0
    }
  }
}

.footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: 2*$footerHeight;
  width: 100%;
  @include breakpoint(tab) {
    background: black;
    height: $footerHeight;
    .col-12 {
      position: absolute;
      height: 100%;
    }
  }
}

.tweet {
  position: absolute;
  right: 0;
  top: -$tweetHeight;
  height: $tweetHeight;
  width: 90%;
  overflow: hidden;
  * {
    cursor: pointer;
  }
  .bg {
    transform: skewX(-45deg);
    background: black;
    right: rem(-55);
    border-left: 10px solid #aaa;
    @include size(100%);
  }
  .icon {
    position: absolute;
    left: rem(85);
    top: 0;
    bottom: 0;
    margin: auto;
    @include size(rem(20));
    background: url('/images/twitter.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 1;
  }
  p {
    color: transparent !important;
    position: absolute;
    top: 0;
    width: calc(100% - 7rem);
    right: 0;
    font-size: rem(14);
    line-height: rem(30);
    color: #aaa;
    font-style: italic;
    span {
      color: white;
      width: 95%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      left: 0;
      @include transition(all 300ms);
      &::after {
        content: '"';
        position: absolute;
        right: 0;
      }
    }
  }
  &:hover {
    p span {
      color: #aaa;
    }
  }
  @include breakpoint(tab) {
    width: 50%;
    p {
      color: #aaa !important;
      span {
        left: rem(50);
        width: 80%;
      }
    }
  }
  @include breakpoint(lap) {
    p span {
      width: 85%;
    }
  }
  @include breakpoint(desk) {
    p span {
      width: 90%;
    }
  }
}

.links {
  position: relative;
  right: 0;
  top: 0;
  height: 50% !important;
  width: 50%;
  display: flex;
  .bg {
    @include size(100%);
    @include transform(skewX(-45deg));
    background: white;
    position: absolute;
    border-left: 10px solid #aaa;
    right: -10%;
    &::after {
      content: ' ';
      height: 100%;
      width: rem(100);
      position: absolute;
      right: 0;
      top: 0;
      background: white;
      @include transform(skewX(45deg));
    }
  }
  ul {
    @include size(100%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10%;
    padding-left: 15%;
    padding-right: 15%;
    li {
      margin: auto;
    }
  }
  a {
    cursor: pointer;
    color: black;
    font-size: rem(16);
    line-height: rem(16);
    @include transition(all 300ms);
    padding-bottom: rem(5);
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid black;
      padding-bottom: 0;
    }
  }
  @include breakpoint(mob-l) {
    padding-left: rem(30);
  }
  @include breakpoint(tab) {
    height: 100% !important;
    .bg, ul {
      right: 0;
    }
    ul {
      padding-right: 0;
    }
  }
}

.zak {
  background: black;
  height: 50% !important;
  padding-left: $zakImgWidth + rem(10);
  position: absolute;
  bottom: 0;
  left: 0;
  > a, img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: $zakImgWidth;
    height: $zakImgHeight;
  }
  h1 {
    font-size: rem(22);
    padding: rem(15) 0 rem(5);
    line-height: rem(28);
    font-weight: normal;
  }
  h2 {
    color: #aaa;
    font-size: rem(16);
    font-style: italic;
    line-height: rem(20);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    font-weight: normal;
  }
  @include breakpoint(tab) {
    background: none;
    height: 100% !important;
    h2 {
      width: 90%;
    }
  }
}
